h2{
	font-size: 16px;
}
#layer {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(102, 102, 102,0.8);
    /*opacity: 0.7;*/
    visibility: hidden; 
 }
.account {
      position: absolute;
      z-index: 9999;
      background: white;
      top: 50%;
      left: 50%;
      width: 500px;
      height: 300px;
      margin-top: -150px;
      margin-left: -250px; 
}
